absl-py==0.9.0
astor==0.8.1
awscli==1.16.309
botocore==1.13.45
cffi==1.13.2
colorama==0.4.1
docutils==0.15.2
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.18.0
opencv-python==4.1.2.30
protobuf==3.11.2
pyasn1==0.4.8
PyAudio==0.2.11
pycparser==2.19
pyspark==2.4.4
python-dateutil==2.8.1
pyttsx3==2.71
PyYAML==5.2
rsa==3.4.2
s3transfer==0.2.1
scipy==1.4.1
six==1.13.0
sounddevice==0.3.14
SpeechRecognition==3.8.1
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
tensornets==0.4.1
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
